Source: ros-melodic-inorbit-republisher
Section: misc
Priority: optional
Maintainer: InOrbit <support@inorbit.ai>
Build-Depends: debhelper (>= 9.0.0), python3-yaml, ros-melodic-catkin, ros-melodic-geometry-msgs, ros-melodic-roslib, ros-melodic-rospy, ros-melodic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-inorbit-republisher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-yaml, ros-melodic-geometry-msgs, ros-melodic-roslib, ros-melodic-rospy, ros-melodic-std-msgs
Description: ROS to InOrbit topic republisher
